<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="mainColor mainContainer p-5 text-white">
       <div class="d-flex justify-content-center align-items-center">
        <img src="/images/avataaars.png" class="pt-5 text-center" alt="">
       </div>
        <h1 class=" text-white text-uppercase fw-bolder fs-1 text-center">start Framework</h1>
        <app-line></app-line>
       <p class="text-center">Graphic Artist - Web Designer - Illustrator</p>
    </section>
</body>
</html>
